@import url("../../whitespaces-reset.css");

body {
  margin: 8px;
}
body, html {
  font: normal 28px Helvetica, Arial, sans-serif;
}

article {
  border: 2px solid;
  width: 680px;
  box-sizing: border-box;
  padding: 10px 15px 15px 15px;
}

header h1 {
  font-size: 56px;
}
header h2 {
  border-top: 30px solid;
  border-bottom: 1px solid;
  margin-top: 5px;
  padding: 10px 0;
}
header dt, header dd {
  display: inline;
}

header dl {
  width: 50%;
  display: inline-block;
  padding: 5px 0;
}

header dl:first-of-type dt {
  font-weight: bold;
}
header dl + dl {
  text-align: right;
}
header {
  border-bottom: 15px solid;
  margin-bottom: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table thead th {
  text-align: right;
}
sup {
  vertical-align: 3px;
}
dt, dd {
  display: inline;
}
dd {
  font-weight: normal;
}
tbody th, tbody td {
  text-align: left;
  border-top: 1px solid;
  padding: 2px 0;
}

tbody td:last-of-type {
  text-align: right;
  font-weight: bold;
  border-top: 1px solid;
  padding: 2px 0;
}
tbody td:first-child:empty {
  width: 1rem;
  border-top: 0;
}
tbody + tbody tr:first-of-type td {
  border-top: 20px solid;
}

tbody + tbody td:last-child {
  font-weight: normal;
}
tfoot td {
  padding: .5rem 0 .5rem .7rem;
  font-size: .9rem;
  font-weight: normal;
  text-align: left;
  text-indent: -.7rem;
  border-top: 1px solid
}

table + table {
  font-size: 0.8rem;
}
table + table th,
table + table td:last-child {
  text-align: left;
  font-weight: normal;
  border: 0;
}
table + table th {
  border-top: 0;
  border-bottom: 1px solid;
}
table + table td {
  border: 0;
}
table + table td.indent { text-indent: 1.2rem }
table + table tr th:first-child { width: 37% }
table + table tr th:nth-child(2),
table + table tr th:nth-child(3),
table + table tr th:nth-child(4) { width: 21%; }
