body {
  font-family: Helvetica, Arial, sans-serif;
}

main {
  width: 1000px;
  border: solid 2px #999999;
  margin: 0 auto;
  padding: 20px;
}
h1 {
  font-weight: bold;
  font-size: 24px;
  color: #ce4a4a;
  margin: 20px 0;
}
p {
  color: #545459;
  line-height: 35px;
  margin-bottom: 25px;
}
.border {
  width: 650px;
  margin: 45px;
  border: dashed 2px #555555;
  padding: 30px;
  box-sizing: border-box;
}
.border a {
  text-decoration: none;
  color: #333333;
}
.inline-margin a {
  margin: 30px;
}
.inline-padding a {
  color: #ffffff;
  background: #008000;
  padding: 30px;
}
.inline-float a {
  float: left;
  margin: 15px;
  border: solid 3px #006400;
  width: 120px;
  color: #ffffff;
  background: #008000;
  text-align: center;
  padding: 25px;
  box-sizing: border-box;
}
.inline-float {
  overflow: hidden;
}
/*.inline-float:after {
  display: block;
  content: "";
  clear: both;
}*/
.blue-div {
  background: #1E90FF;
  color: #fff;
}
.green-div {
  background: #008000;
  color: #fff;
  height: 60px;
  padding: 21px;
  margin: 20px;
  box-sizing: border-box;
}
.red-div {
  background: #FF6347;
  color: #fff;
  width: 90px;
  margin-bottom: 35px;
}
.blue-left {
  float: left;
  background: #1E90FF;
  color: #fff;
  border: solid 1px #FF0000;
}
.red-right {
  float: right;
  background: #FF6347;
  color: #fff;
  border: solid 1px #FF0000;
}
.wrapper {
  /*overflow: hidden;*/
  margin-bottom: 35px;
}
.wrapper:after {
  content: "";
  clear: both;
  display: block;
}
.red-left {
  float: left;
  background: #FF6347;
  color: #fff;
  width: 400px;
  height: 70px;
  text-align: center;
  line-height: 70px;
}
.blue-right {
  float: right;
  background: #1E90FF;
  color: #fff;
  width: 500px;
  height: 70px;
  text-align: center;
  line-height: 70px;
}
.wrapper a {
  display: block;
  background: #1E90FF;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin: 10px;
  margin-top: 0;
}
nav {
  text-align: center;
}
nav a {
  display: inline-block;
  width: 180px;
  background: #1E90FF;
  color: #fff;
  text-decoration: none;
  margin: 20px 8px 25px 8px;
  padding: 20px 30px;
  box-sizing: border-box;
  border: 1px solid #1b95e0;
}
.border-bottom:after {
  display: block;
  content: "";
  width: 100%;
  padding-top: 30px;
  border-bottom: 2px dashed #545459;
}
.centered {
  text-align: center;
  margin: 30px 0 25px 0;
}
.box-1 {
  background: #FF6347;
  float: left;
  color: #fff;
  font-weight: bold;
  line-height: 100px;
  width: 450px;
  text-align: center;
}
.box-2 {
  background: #1E90FF;
  float: left;
  color: #fff;
  font-weight: bold;
  line-height: 100px;
  width: 505px;
  text-align: center;
}
.box-3 {
  background: #2E8B57;
  clear: both;
  color: #fff;
  font-weight: bold;
  line-height: 50px;
  width: 955px;
  text-align: center;
}
.indent {
  font-family: monospace;
  font-size: 16px;
  color: #545459;
  height: 143px;
}
.margin-bottom {
  margin-bottom: -3px;
}
ul {
  margin: 0 0 45px 40px;
}
ul li {
  font: italic 16px Helvetica, Arial, sans-serif;
  color: #545459;
  margin-bottom: 10px;
}
.relative-box {
  position: relative;
  top: 45px;
  left: -90px;
  background: #FF6347;
  color: #fff;
  padding: 25px;
  width: 325px;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.absolute-box {
  width: 200px;
  text-align: center;
  color: #fff;
  background: green;
  padding: 25px 35px;
  border-radius: 10px;
  margin-bottom: 30px;
  position: absolute;
  top: -78px;
  left: 230px;
  box-sizing: border-box;
}
.wrap {
  position: relative;
}
.fixed-box {
  position: fixed;
  bottom: 50px;
  left: 35px;
  background: #1E90FF;
  color: #fff;
  padding: 25px 35px;
  border-radius: 10px;
  text-align: center;
  width: 225px;
  box-sizing: border-box;
}
